# Data Analysis with Python

## Homework: Test Bowler Analysis

In [57]:
import pandas as pd
import numpy as np

#### 01. Data import

In [58]:
# Import DataFrame
df=pd.read_excel('test_cricket.xlsx', sheet_name='wickets')

#### 02. Display data

In [59]:
# Display the first 10 rows of the dataframe
display(df.head(10))

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5,10
0,M Muralitharan (ICC/SL),1992-2010,133,230,44039,18180,800,9/51,16/220,22.72,2.47,55.0,67,22
1,SK Warne (AUS),1992-2007,145,273,40705,17995,708,8/71,12/128,25.41,2.65,57.4,37,10
2,A Kumble (INDIA),1990-2008,132,236,40850,18355,619,7/42,11/71,29.65,2.69,65.9,35,8
3,JM Anderson (ENG),2003-2021,162,301,34791,16457,617,10/74,14/149,26.67,2.83,56.3,30,3
4,GD McGrath (AUS),1993-2007,124,243,29248,12186,563,8/24,10/27,21.64,2.49,51.9,29,3
5,SCJ Broad (ENG),2007-2021,148,272,29713,14502,523,8/15,11/121,27.72,2.92,56.8,18,3
6,CA Walsh (WI),1984-2001,132,242,30019,12688,519,7/37,13/55,24.44,2.53,57.8,22,3
7,DW Steyn (SA),2004-2019,93,171,18608,10077,439,7/51,11/60,22.95,3.24,42.3,26,5
8,N Kapil Dev (INDIA),1978-1994,131,227,27740,12867,434,9/83,11/146,29.64,2.78,63.9,23,2
9,HMRKB Herath (SL),1999-2018,93,170,25993,12157,433,9/127,14/184,28.07,2.80,60.0,34,9

#### 03. Explanation the meaning of each columns

In [60]:
print(df.columns)

Index(['Player',   'Span',    'Mat',   'Inns',  'Balls',   'Runs',   'Wkts',
          'BBI',    'BBM',    'Ave',   'Econ',     'SR',        5,       10],
      dtype='object')

Each column name can be described as:
<br> [01] Name: Name of the Player
<br> [02] Span: Duration of the Career of each player
<br> [03] Mat : No. of matches played
<br> [04] Inns: No. of innings played
<br> [05] Balls: No of balls bowled
<br> [06] Runs: Total of the runs conceded by a bowler
<br> [07] Wkts: No of total wickets taken
<br> [08] BBI: Best bowling in an Innings
<br> [09] BBM: Best bowling in a Match
<br> [10] Ave: Bowling_Average
<br> [11] Econ: Average runs conceded per over
<br> [12] SR: Strike Rate
<br> [13] 5: No of times 5 wickets taken
<br> [14] 10: No of times 10 wickets taken

#### 04. Number of rows and columns in the dataframe

In [61]:
# No. of rows
print('No. of rows: ', df.shape[0])

# No. of columns
print('No. of columns: ', df.shape[1])

No. of rows:  79
No. of columns:  14

#### 05. Data statistics and checking data types

In [62]:
# Data Statistics
display(df.describe())

,Mat,Inns,Balls,Runs,Wkts,Ave,Econ,SR,5,10
count,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000
mean,80.101266,144.797468,18630.303797,8595.506329,317.101266,27.466456,2.806582,59.187342,16.354430,2.797468
std,28.537692,51.042310,7190.036515,3080.256645,121.731587,3.657561,0.351666,9.349337,9.642372,3.235935
min,37.000000,67.000000,8785.000000,4846.000000,200.000000,20.940000,1.980000,41.200000,3.000000,0.000000
25%,60.500000,110.000000,13580.000000,6456.500000,229.000000,24.425000,2.600000,53.300000,9.500000,1.000000
50%,71.000000,129.000000,16498.000000,7742.000000,266.000000,28.000000,2.820000,57.400000,14.000000,2.000000
75%,93.000000,169.000000,21742.500000,9756.000000,374.500000,29.870000,3.080000,63.950000,20.500000,3.500000
max,166.000000,301.000000,44039.000000,18355.000000,800.000000,34.790000,3.460000,91.900000,67.000000,22.000000

In [63]:
# Data types of each column
display(df.dtypes)

Player     object
Span       object
Mat         int64
Inns        int64
Balls       int64
Runs        int64
Wkts        int64
BBI        object
BBM        object
Ave       float64
Econ      float64
SR        float64
5           int64
10          int64
dtype: object

#### 06. Checking missing values

In [64]:
# Checking for missing values
print(df.isnull().sum())

Player    0
Span      0
Mat       0
Inns      0
Balls     0
Runs      0
Wkts      0
BBI       0
BBM       0
Ave       0
Econ      0
SR        0
5         0
10        0
dtype: int64

#### 07. Rename the column names

In [65]:
df = df.rename(columns = {'Player':'Player_Name',
                          'Span':'Duration_of_Career',
                          'Mat':'No_of_match_played', 
                          'Inns':'No_of_innings', 
                          'Balls':'No_of_balls_bowled',
                          'Runs': 'Total_Runs_conceded', 
                          'Wkts':'Total_wickets_taken', 
                          'BBI': 'Best_Bowling_in_an_Innings', 
                          'BBM':'Best_Bowling_in_a_Match',
                          'Ave':'Bowling_Average',
                          'Econ':'average_runs_conceded_per_over', 
                          'SR':'Strike_rate',
                          5: 'No_of_times_5_wickets_taken', 
                          10:'No_of_times_10_wickets_taken'})
display(df.head())

,Player_Name,Duration_of_Career,No_of_match_played,No_of_innings,No_of_balls_bowled,Total_Runs_conceded,Total_wickets_taken,Best_Bowling_in_an_Innings,Best_Bowling_in_a_Match,Bowling_Average,average_runs_conceded_per_over,Strike_rate,No_of_times_5_wickets_taken,No_of_times_10_wickets_taken
0,M Muralitharan (ICC/SL),1992-2010,133,230,44039,18180,800,9/51,16/220,22.72,2.47,55.0,67,22
1,SK Warne (AUS),1992-2007,145,273,40705,17995,708,8/71,12/128,25.41,2.65,57.4,37,10
2,A Kumble (INDIA),1990-2008,132,236,40850,18355,619,7/42,11/71,29.65,2.69,65.9,35,8
3,JM Anderson (ENG),2003-2021,162,301,34791,16457,617,10/74,14/149,26.67,2.83,56.3,30,3
4,GD McGrath (AUS),1993-2007,124,243,29248,12186,563,8/24,10/27,21.64,2.49,51.9,29,3

#### 08. Removing a column from the dataframe

In [66]:
df = df.drop('Duration_of_Career', axis=1)
display(df.head())

,Player_Name,No_of_match_played,No_of_innings,No_of_balls_bowled,Total_Runs_conceded,Total_wickets_taken,Best_Bowling_in_an_Innings,Best_Bowling_in_a_Match,Bowling_Average,average_runs_conceded_per_over,Strike_rate,No_of_times_5_wickets_taken,No_of_times_10_wickets_taken
0,M Muralitharan (ICC/SL),133,230,44039,18180,800,9/51,16/220,22.72,2.47,55.0,67,22
1,SK Warne (AUS),145,273,40705,17995,708,8/71,12/128,25.41,2.65,57.4,37,10
2,A Kumble (INDIA),132,236,40850,18355,619,7/42,11/71,29.65,2.69,65.9,35,8
3,JM Anderson (ENG),162,301,34791,16457,617,10/74,14/149,26.67,2.83,56.3,30,3
4,GD McGrath (AUS),124,243,29248,12186,563,8/24,10/27,21.64,2.49,51.9,29,3